<div  *ngIf="isLoading">
  <div class=" main-container border-primary font-weight-bolder text-center" style="font-size: 7vh;height: 100vh !important;">
    <div class="mx-auto mt-5">
      <div class="reverse-spinner mx-auto"></div>
      <div class="h3 mt-3">Chargement ...</div>
    </div>
  </div>

</div>
<div  *ngIf="!isLoading && hasNoCity">
  <div class=" main-container border-primary font-weight-bolder text-center" style="font-size: 7vh;height: 100vh !important;">
    <div class="d-flex flex-column align-items-center mt-5 w-100">

      <div class=" mt-3 mx-auto d-block" style="font-size: calc(6vw + 50px)">404</div>
      <div class="h3 mt-3 mx-auto d-block">Cette wilaya n'existe pas </div>
      <a class="h4 mt-3 mx-auto d-block" pageScroll routerlink="/home" href="" >Revenir page d'acceuil </a>

    </div>
    </div>

</div>
<div class="main-container " *ngIf="!isLoading && !hasNoCity">

  <div class="location-and-date mb-2">
    <h1 class="location-and-date__location">{{cityName}}, Algérie</h1>
    <div>dernière mise à jour le {{ weatherDetail.dt * 1000 | date: "medium" }}</div>
  </div>


  <div class="current-temperature mt-3">
    <div class="current-temperature__icon-container my-auto ">
      <img src="./assets/icons/{{weatherDetail.weather[0].icon}}.svg" class="current-temperature__icon " alt="weather-icon">
    </div>
    <div class="current-temperature__content-container">
      <div class="current-temperature__value">{{ weatherDetail.main.temp | celsius }}&#176;</div>
      <div class="current-temperature__summary">{{ weatherDetail.weather[0].description | titlecase }}</div>
    </div>
  </div>


  <div class="current-stats ">
    <div>
      <div class="current-stats__value">{{ weatherOneCall.daily[0].temp.max | celsius }}&#176;</div>
      <div class="current-stats__label">Max</div>
      <div class="current-stats__value">{{ weatherOneCall.daily[0].temp.min | celsius }}&#176;</div>
      <div class="current-stats__label">Min</div>
    </div>
    <div>
      <div class="current-stats__value">{{weatherDetail.wind.speed}}m/s</div>
      <div class="current-stats__label">Vent</div>
      <div class="current-stats__value">{{weatherDetail.main.humidity}}%</div>
      <div class="current-stats__label">Humidity</div>
    </div>
    <div>
      <div class="current-stats__value">{{weatherDetail.sys.sunrise * 1000 |  date: "HH:mm"}}</div>
      <div class="current-stats__label">lever du soleil</div>
      <!--<div class="current-stats__value">{{weatherDetail.sys.sunset * 1000 | date :"HH:mm"}}</div>-->
      <div class="current-stats__value">{{prayertime.data.timings.Sunset}}</div>
      <div class="current-stats__label">coucher du soleil</div>
    </div>
  </div>



  <div class="weather-by-hour mt-4">
    <h2 class="weather-by-hour__heading">Prévisions météo pour les prochaines heures</h2>
    <div class="weather-by-hour__container mt-2">
      <div class="weather-by-hour__item" *ngFor="let x of [0,1,2,3,4]">
        <div class="weather-by-hour__hour">{{weatherOneCall.hourly[x].dt * 1000 | date: "shortTime"}}</div>
        <img src="./assets/icons/{{weatherOneCall.hourly[x].weather[0].icon}}.svg"  >
        <div>{{weatherOneCall.hourly[x].temp | celsius}}&#176;</div>
      </div>
    </div>
  </div>

  <div class="weather-by-hour mt-4">
    <h2 class="weather-by-hour__heading">les horaires de la prière</h2>
    <div class="weather-by-hour__container mt-2">
      <div class="weather-by-hour__item" >
        <!--<img src="./assets/icons/{{weatherOneCall.hourly[x].weather[0].icon}}.svg"  >-->
        <div class="mb-4">Fajr</div>
        <div class="weather-by-hour__hour mb-1">{{prayertime.data.timings.Fajr}}</div>
      </div>

      <div class="weather-by-hour__item" >
        <!--<img src="./assets/icons/{{weatherOneCall.hourly[x].weather[0].icon}}.svg"  >-->
        <div class="mb-4">Dhuhr</div>
        <div class="weather-by-hour__hour mb-1">{{prayertime.data.timings.Dhuhr}}</div>
      </div>

      <div class="weather-by-hour__item" >
        <!--<img src="./assets/icons/{{weatherOneCall.hourly[x].weather[0].icon}}.svg"  >-->
        <div class="mb-4">Asr</div>
        <div class="weather-by-hour__hour mb-1">{{prayertime.data.timings.Asr}}</div>
      </div>

      <div class="weather-by-hour__item" >
        <!--<img src="./assets/icons/{{weatherOneCall.hourly[x].weather[0].icon}}.svg"  >-->
        <div class="mb-4">Maghrib</div>
        <div class="weather-by-hour__hour mb-1">{{prayertime.data.timings.Maghrib}}</div>
      </div>

      <div class="weather-by-hour__item" >
        <!--<img src="./assets/icons/{{weatherOneCall.hourly[x].weather[0].icon}}.svg"  >-->
        <div class="mb-4">Isha</div>
        <div class="weather-by-hour__hour mb-1">{{prayertime.data.timings.Isha}}</div>
      </div>


    </div>
  </div>
  <div class="next-5-days">
    <h2 class="next-5-days__heading">Prévisions météo pour les 7 jours prochains</h2>
    <div class="next-5-days__container">

      <div class="next-5-days__row" *ngFor="let number of numbers">

        <div class="next-5-days__date">
          {{weatherOneCall.daily[number].dt * 1000 | date:'E' }}
          <div class="next-5-days__label"> {{weatherOneCall.daily[number].dt *1000 | date:'d/M' }}</div>
        </div>

        <div class="next-5-days__low">
          {{weatherOneCall.daily[number].temp.min | celsius }}
          <div class="next-5-days__label">Min</div>
        </div>

        <div class="next-5-days__high">
          {{weatherOneCall.daily[number].temp.max | celsius }}
          <div class="next-5-days__label">Max</div>
        </div>

        <div class="next-5-days__icon">
          <img src="./assets/icons/{{weatherOneCall.daily[number].weather[0].icon}}.svg" >
        </div>

        <div class="next-5-days__rain">
          {{weatherOneCall.daily[number].humidity}}%
          <div class="next-5-days__label">Humidité</div>
        </div>

        <div class="next-5-days__wind">
          {{weatherOneCall.daily[number].wind_speed}}m/s
          <div class="next-5-days__label">Vent</div>
        </div>

      </div>


    </div>
  </div>

</div>
